@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-trade: "Trade Winds", system-ui;
    --font-lato: "Lato", system-ui;
    --font-roboto: "roboto", system-ui;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes danceagain {
    0% {
   background-color: #FF9000;
        rotate: 0deg;
    }
    25% {
    background-color: #ffba61;
        rotate: 3deg;
    }
    50% {
  background-color: #FF9000;
        rotate: 0deg;
    }
    75% {
       background-color: #ffba61;

        rotate: -3deg;
    }
    100% {
     background-color: #FF9000;
        rotate: 0deg;
    }}

@keyframes dance1 {
    0% {
  background: #9bebff;
        rotate: 0deg;
    }
    25% {
   background: #00d0ff;
        rotate: 3deg;
    }
    50% {
  background: #9bebff;
        rotate: 0deg;
    }
    75% {
           background: #00d0ff;

        rotate: -3deg;
    }
    100% {
      background: #9bebff;
        rotate: 0deg;
    }
}
@keyframes dance2 {
    0% {
    background-color: #1fe059;
        rotate: 0deg;
    }
    25% {
        background-color: greenyellow;
        rotate: 3deg;
    }
    50% {
    background-color: #1fe059;
        rotate: 0deg;
    }
    75% {
        background-color: greenyellow;
        rotate: -3deg;
    }
    100% {
       background-color: #1fe059;
        rotate: 0deg;
    }
}
@keyframes dance211 {
    0% {
    background-color: #6759e2;
        rotate: 0deg;
    }
    25% {
        background-color: rgb(182, 166, 243);
        rotate: 3deg;
    }
    50% {
    background-color: #6759e2;
        rotate: 0deg;
    }
    75% {
        background-color:rgb(182, 166, 243);
        rotate: -3deg;
    }
    100% {
       background-color: #6759e2;
        rotate: 0deg;
    }
}
@keyframes dance3 {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 8deg;
        right: 12%;
    }
    50% {
        rotate: 0deg;
    }
    75% {
        rotate: -8deg;
        right: 8%;
    }
    100% {
        rotate: 0deg;
    }
}
@keyframes dance31 {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 8deg;
        right: 1%;
    }
    50% {
        rotate: 0deg;
    }
    75% {
        rotate: -8deg;
        right: -1%;
    }
    100% {
        rotate: 0deg;
    }
}
@keyframes comehere {
    0% {
       left: 100%;
                position: fixed;

    }
    55% {
       left: 40%;
       top: 30%;
              transform: scale(1);
         position: fixed;

    }
    100% {
       left: 40%;
          top: 30%;
       transform: scale(3);
                position: fixed;

    }

}
@keyframes blink{
    0%{
        opacity: 1;
   transform: scale(1);
    }
    50%{
        opacity: 0.3;
   transform: scale(0.8);
    }

    100% {
        opacity: 1;
           transform: scale(1);
    }
}
@keyframes comeheredoor {
    0% {
      
         position: fixed;
    z-index: 2;
    width: 500px;
bottom: 0%;
    left: -5%;
    }
   50% {
    
position: fixed;
    z-index: 2;
    width: 500px;
bottom: 0%;
    left: 40%;
    }
    100% {
        position: fixed;

       left: -45%;
       bottom: -100%;
    width: 3500px;
    }

}
.weenimate {
  position: absolute;
  animation: comehere 2s forwards;
}
.weenimatedoor {
  position: absolute;
  animation: comeheredoor 2s forwards;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: var(--font-lato);
    color: #000;
}

.screens {
    width: 100vw;
    text-align: center;
    align-items: center;
    animation: transbox 1s ease;
}

.inputName {
    padding: 12px;
    font-size: 16px;
    background-color: rgb(227, 235, 255);
    border-radius: 5px;
    color: #000;
    border: 2px solid rgb(165, 202, 214);
    transition: 0.3s;
    
}

.inputName:focus {
    outline: 4px auto -webkit-focus-ring-color;
     filter: drop-shadow(0 0 1em #eefffeaa);
    transform: scale(1.1);
      
  border-color: #00e5ff;
  box-shadow: 0 0 15px rgba(0,229,255,0.5);
}

.tutorial {
    display: flex;
    justify-content: center;
    gap: 20px;
        color: white;
    text-align: center;
    border-radius: 2%;
    
  background: rgba(255,255,255,0.75);
  border: 4px solid rgba(182, 182, 182, 0.4);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
    transition: 0.3s;margin-left: 20%;
margin-right: 20%;
padding-top:2% ;
padding-bottom:2% ;


}


/* new insert */

.panel {
    position: relative;
    width: 300px;
    transition: 0.3s;

}
.panel:hover{
    transform: scale(1.2);
}
.panel img {
    width: 100%;
    height: 100%;
    display: block;
}

.panel-text {
    position: absolute;
    top: 35px;
    left: 57px;
    width: 210px;
    height: 305px;
}

.panel-text h3 {
    position: absolute;
    font-family: 'Lato', system-ui;
    color: #000;
}

.panel-text p {
    position: absolute;
    font-family: 'Lato', system-ui;
    top: 5%;
    left: 10%;
    color: #000;
}

.panel-text img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 45%;
    left: 10%;
    border-radius: 5px;
}

.tut-1 {
    top: 20%;
    left: 15%;
    text-align: left;
}

.tut-2 {
    top: 20%;
    left: 15%;
    text-align: left;
}

.tut-3 {
    top: 20%;
    left: 15%;
    text-align: left;
}

.black-letter {
    color: #333;
}


/* end insert */

.tut-img {
    width: 100px;
    border-radius: 10px;
    transition: 0.3s;
}

.tut-img:hover {
    transform: scale(1.1);
}


/* this area for the pin stuff */

.play-area {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
    animation: transbox 1s ease;
}

.img-container {
    position: fixed;
    /* ✅ stick to screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* ✅ full screen */
    background-size: cover;
    background-position: left center;
    /* ✅ important (your requirement) */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: var(--font-roboto);
    background-color: #5856d3;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #ff9064;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.bgg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    font-family: var(--font-roboto);
    color: white;
    
}


/* new insert */

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-box {
  
    width: fit-content;
    padding: 30px;
    border-radius: 12px;
    color: white;
    text-align: center;
    border: 5px solid gray;
background-color: #ffffff;
}


/* end insert */

.tut-img2 {
    width: auto;
    height: 105px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    align-items: center;
}

.tut-desc {
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
}


/*new insert */

.selects {
    position: fixed;
    
    top: 11%;
    left: 23%;
    animation: transbox 0.7s ease;
    padding: 50px;
    text-align: center;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
    
background: url('./assets/selectpapan.png');
    background-size: cover;
    margin: 0 auto;
}

.select-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.select-button {
    background-image: url(./assets/textboxy.png);
    background-color: transparent;
    background-size: cover;
    aspect-ratio: 406 / 278;
    width: 290px;
    padding: 20px;
    border: none;
}



.select-text {
    font-family: var(--font-roboto);
    font-style: italic;
    filter: opacity(0);
       background-image: linear-gradient(to top, rgb(255, 255, 255), #F2FF00);
color: transparent;
background-clip: text;
}

.select-text2 {
    font-family: var(--font-roboto);
       color: rgb(0, 0, 0);
}
/* end insert */

.scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.level-card {
    flex: 0 0 auto;
    /* Prevents cards from shrinking */
    width: 450px;
    border: 2px solid #7c7474;
    border-radius: 15px;
    padding: 10px;
    background-color: #414141;
    scroll-snap-align: center;
}

.play-area-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.bg-img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: auto;
    border: 4px solid #555;
    border-radius: 10px;
}

.checkmark-overlay {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 22px;
    color: #4cafa7;
}

.questionbox {
    background-color: white;
    animation: transbox 0.3s ease;
    border: 2px solid orange;
    position: fixed;
    filter: drop-shadow(0 0 1em #caffc8aa);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 12px;
    min-width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    color: #333;
    z-index: 6;
}

.laporantitle {
    margin-top: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.question-text {
    font-size: 18px;
    
    white-space: pre-line;
    line-height: 1.5;
}

.divquestion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rejectbtn {
    margin-top: 15px;
    width: 100%;
    background: black;
    border: 3px solid gray;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}

.rejectbtn:hover {
    background-color: #6b6a67;
    transform: scale(1.1);
}

.summary {
    background-color: rgb(88, 88, 88);
    padding: 25px;
    border: 2px solid cyan;
    animation: transbox 0.3s ease;
    position: fixed;
    filter: drop-shadow(0 0 1em #caffc8aa);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    min-width: 800px;
    font-size: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    z-index: 6;
}

.summary-desc {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

.lanjutbtn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
      box-shadow: 0 9px #999;

    transition: 0.3s;
}

.lanjutbtn:hover {
    background-color: #43bde2;
    transform: scale(1.1);
  
}
.lanjutbtn:active {
  background-color: #43bde2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.musicbtn {
    position: fixed;
    top: 1%;
    left: 90%;
    border: 2px solid gray;
    background-color: black;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.funnybtn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    filter: opacity(5%);
    cursor: pointer;
    transition: 0.3s;
}

.funnybtn:hover {
    background-color: #6b6a67;
    filter: opacity(100%);
    transform: scale(1.1);
}

.socs-img {
    width: 180px;
    position: fixed;
    left: 1%;
    top: 1%;
    filter: opacity(80%);
    border: 4px solid #555;
    border-radius: 10px;
    background-color: #ffffff;
}

.time-left {
    font-size: 24px;
    font-weight: bold;
    color: #00c3ff;
    text-align: center;
    margin-bottom: 10px;
}


/* name, level, etc. */

.titlebox {
    width: 9000px;
    color: rgb(255, 255, 255);
background-color: #4B5563;
    border: gray solid 2px;
          box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    height: fit-content;
    border-radius: 10px;
    white-space: pre-line;
    z-index: 6;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title-a {
    font-size: 40px;
    bottom: 0px;
    text-align: center;
    position: relative;
    font-weight:bold;
      font-family: var(--font-roboto);
    font-style: italic;
background: linear-gradient(to top,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(255, 229, 0, 1) 81%, rgba(255, 229, 0, 1) 100%);
color: transparent;
background-clip: text;
}

.title-b {
    font-size: 30px;
    top: 10px;
    text-align: center;
    position: relative;
      font-family: var(--font-roboto);
    font-style: italic;
        font-weight:bold;

background: linear-gradient(to top,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 58%, rgba(255, 229, 0, 1) 81%, rgba(255, 229, 0, 1) 100%);
color: transparent;
background-clip: text;
}
.title-c {
    font-size: 25px;
    text-align: center;
        top: 15px;
    position: relative;
    margin-right: 60px;
      font-family: var(--font-roboto);
    font-style: italic;
        font-weight:bold;

background: linear-gradient(to top,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 68%, rgba(255, 229, 0, 1) 81%, rgba(255, 229, 0, 1) 100%);
color: transparent;
background-clip: text;
}
.titlebox1 {
    position: fixed;
    top: 11%;
    right: 2%;
    color: rgb(0, 0, 0);
    padding: 5px;

    border-radius: 10px;
    white-space: pre-line;
    z-index: 6;
}

.tbo{
    color: #000;
}

.musicbtn:hover {
    background-color: #3b3b3b;
    transform: scale(1.1);
}

.musicbtn:focus {
    outline: 4px auto -webkit-focus-ring-color;
}

.music-icon {
    width: 20px;
    height: 20px;
}

.btnStyle {
    padding: 12px;
    text-align: left;
    cursor: pointer;
    background-color: #adceff;
    border: 2px solid lightskyblue;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    transition: 0.3s;
}

.btnStyle:hover {
    background-color: #b1e1f1;
    border-color: #cbd3da;
    transform: scale(1.1);
}

.actionBtnStyle {
    padding: 12px 25px;
    font-size: 16px;
  background: #9bebff;
    color: rgb(0, 0, 0);
    border: 2px solid cyan;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
     box-shadow: 0 5px #999;

}

.actionBtnStyle:hover {
    animation-name: dance1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(1.1);
  
}

.actionBtnStyle:active {
  background-color: #43bde2;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.finalBtnStyle {
    padding: 15px 30px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    transition: 0.3s;
      box-shadow: 0 9px #999;

}

.finalBtnStyle:hover {
    background-color: #2afab5;
    text-decoration: underline;
}
.finalBtnStyle:active {
  background-color: #2afab5;
  box-shadow: 0 5px #666;
}

.pinstyle {
    width:70px;
    filter: drop-shadow(1px 1px 5em #f8ef99) saturate(3);
    transition: 0.3s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

}

.pinstyleb {
    cursor:default;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    transition: 0.3s;
    z-index: 1;
}



.player-img {
    position: fixed;
    bottom: 0%;
    left: 18%;
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.90));
    transform: translateX(-50%);
    max-width: 500px;
    width: 1500px;
    height: auto;
    transition: 1s;
}

.player-img2 {
    position: fixed;
    bottom: 0%;
    right: -6%;
   
    transform: translateX(-50%);
    max-width: 500px;
    width: 1500px;
    height: auto;
    transition: 1s;
}.player-img21 {
    position: fixed;
    bottom: 0%;
    right: -22%;
   
    transform: translateX(-50%);
    max-width: 500px;
    width: 1500px;
    height: auto;
    transition: 1s;
}
.player-img1 {
    position: fixed;
bottom: 0%;
   left: 10%;

    transform: translateX(-50%);
    width: 450px;
    max-height: auto;
    transition: 1s;
    z-index: 10;
}



.endstatus {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: 'center'
}

.endcard {
    background: url('./assets/endbox.png');
    background-size: cover;
    height: 130px;
  color: white;
    text-align: center;

padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
}

@keyframes bgScroll {
    0% {
        background-position: center 0px;
    }
    100% {
        background-position: center 1000px;
    }
}

.title {
    color: white;
         text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}

.title2 {
   background-image: linear-gradient(to top, rgb(255, 255, 255), #33ff00);
color: transparent;
background-clip: text;
}

@keyframes zoomPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transbox {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.strips {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hurrytext {
    color: red;
    position: fixed;
    margin-left: 30%;
    padding: 1%;
    bottom: 100%;
    background-color: white;
    border: 4px solid #555;
    border-radius: 10px;
}

.bggimage {
    background-size: cover;
    background-color: rgba(155, 155, 155, 0.5);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;
 
}

.statbadge {
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 6px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.iscorrectstyle {
    font-weight: bold;
}

.topz {
    margin-top: 0;
}


/*new*/

.object-list {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 100px;
    padding: 10px;
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    z-index: 3;
}

.object-item {
    width: 80px;
    height: 60px;
    display: flex;
    align-items: left;
    justify-content: center;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.object-item img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.object-item:hover {
    transform: scale(1.7);
}

.levelts {
    font-weight: bold;
    text-align: center;
}

.resimage {
    position: absolute;
    width: 850px;
    top:9%;
    right: 510px;
    height: 450px;
    color: rgba(0, 0, 0, 0.5);
}
.resultup{
    padding-top: 60px;
}
.resulttext {
 border-radius: 12px;
     padding-top: 60px;
 text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
margin-top: 4%;
margin-bottom: 2%;
    text-align: center;
      position: relative    ;
align-items: center;
align-self: center;
align-content: center;
text-align: center;
    top: 1px;
}

.exitbtn {
    height: 40px;
    text-align: left;
    width: fit-content;
    position: absolute;
    top: 15px;
    background-color: white;
    border-radius: 19px;
          box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 3;
    right: 80px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.exitbtn:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1em #ff0000aa);
}

.timer {
    position: absolute;
    top: 10px;
    left: 20px;
          box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.9);
    padding: 8px 12px;
    border-radius: 8px;
    z-index: 3;
}

.objectname {
    padding-left: 10px;
}

.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.selogo-img {
    height: 150px;
    width: 150px;
    background-color: white;
        border: 2px solid gray;

    border-radius: 10px;
    transition: 0.3s;
}

.selogo-img:hover {
    transform: scale(1.1);
}

.tboxy-play {
    z-index: 1;
    width: 340px;
    height: 340px;
    margin-top: 1%;
        margin-right: 0%;

    top: 8%;
    position: fixed;
    right:  0%;
}

.headerplay {
    width: 1800px;
    position: absolute;
    height: 80px;
    z-index: 0;
}

.logostart {
    height:  250px;
    margin-top: 0%;
    border-radius: 10px;
    z-index: 7;

    transition: 0.3s;
}
.logostartsub {
    height:  90px;
    margin-top: 0%;
    border-radius: 10px;
    z-index: 7;
position: relative;
    transition: 0.3s;
}

.listtitle {
    color: white;
    position: absolute;
    font-family: var(--font-lato);
padding-left: 6px;
padding-right: 6px;
    bottom: 100px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.settingbutton {
    position: fixed;
    top: 15px;
    right: 20px;
    z-Index: 999;
    border-radius: 19px;
    background-color: white;
          box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    transition: transform 0.3s ease, filter 0.3s ease;
    
}

.settingbutton:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 1em #00ff00aa);
}

.gender-selectb {
    margin: 10px;
    margin-bottom: 20px;
    padding: 8px 12px;
    border-radius: 8px;
     border: 2px solid cyan;
    color: rgb(0, 0, 0);
    background: #9bebff;
    transition: all 0.3s ease;
         box-shadow: 0 9px #999;

}

.gender-selectb:hover {
    background: #00d0ff;
    transform: scale(1.2);
}
.gender-selectb:active {
  background-color: #00d0ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.yourgender {
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.plusstyle{
    width: 110px;
    right: 5%;
     animation: floatUp 1s ease-out forwards;
        bottom:50%;
    position: fixed;
}
.sumsign{
    width: 660px;
    right: 10%;
    top: 5%;
  transform: rotate(4deg);
    position: fixed;
}
.timesign{
    width: 210px;
   
    right: 30%;
      transform: rotate(-30deg);

top: 25%;
    position: fixed;
}
.finsign{
    width: 510px;
    right: 37%;
top: 40%;
 background: rgba(0, 0, 0, 0.6);
 border-radius: 12px;
    position: fixed;
    z-index: 5;
}

.finword{
 background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    padding: 10px;
    right: 37%;
top: 40%;
    position: fixed;
     border-radius: 12px;
color: greenyellow;
    border: 2px solid greenyellow;


}


.actionBtnStyleagain {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #FF9000;
    color: black;
    border: 2px solid cyan;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;

  box-shadow: 0 9px #999;

}
.actionBtnStyleagain:hover{
     animation-name: danceagain;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(1.1);

}
.actionBtnStyleagain:active {
  background-color: #ffba61;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.endcase{
    position: static;
     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
.ressign{
      width: 840px;
      
        transform: rotate(8deg);
        position: absolute;
        right:  400px;
        top: 5%;
}
.gatesarea{
      display: flex;
    justify-content: center;
    align-items: center;
}
.gatestart {
 backdrop-filter: blur(8px);
     width: fit-content;
    padding: 30px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    text-align: center;
     background: rgba(163, 219, 235, 0.85);
  border: 4px solid rgba(182, 182, 182, 0.4);
  box-shadow: 0 8px 30px rgba(0,0,0,0.45);
    transition: 0.3s;
}
.creditbtn{
       position: fixed;
    bottom: 20px;
    right: 20px;
    z-Index: 999;
    border-radius: 12px;
    color: #000000;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
   background: #9bebff;
     border: 2px solid cyan;
    height: auto;
             box-shadow: 0 9px #999;

    font-size: 18px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.creditbtn:hover{
  background-color: #00d0ff;

    transform: scale(1.2);
}
.creditbtn:active {
  background-color: #00d0ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.gatedoors{
    position: fixed;
    z-index: 0;
    width: 500px;
bottom: 0%;
    left: -5%;
}
.actionBtnStyleb {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #1fe059;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(9, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;  box-shadow: 0 7px #999;
}
.actionBtnStyleb:hover {
 animation-name: dance2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(1.1);
    

}


.actionBtnStyleb:active {
  background-color: greenyellow;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.goneing{
    filter: opacity(1%);
    position: absolute;
    bottom: 0%;
    width: 1px;
}

.chibs1{
    position: absolute;
    bottom: 20%;
      animation: dance3 5s;
  animation-iteration-count: infinite;
filter: drop-shadow(0 8px 12px rgba(0,0,0,0.35));
    right: 10%;
    width: 300px;
    z-index: 0;
}

.chibs11{
    position: fixed;
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.35));
    bottom: 20%;
      animation: dance3 5s;
  animation-iteration-count: infinite;

    right: 10%;
    width: 300px;
    z-index: 0;
}
.chibs2{
    position: fixed;
    bottom: 20%;
    animation: dance31 5s;
  animation-iteration-count: infinite;
filter: drop-shadow(0 8px 12px rgba(0,0,0,0.35));
    right: -0%;
    width: 300px;
    z-index: 0;
}
.chibs3{
    position: fixed;
    bottom:50%;
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.35));
    animation: dance3 3s;
  animation-iteration-count: infinite;

    right: 10%;
    width: 300px;
    z-index: 0;
}
.chibs4{
    position: fixed;
    bottom: 35%;
    right: 0%;
    width: 300px;
    filter: drop-shadow(0 8px 12px rgba(0,0,0,0.35));
    animation: dance31 4s;
  animation-iteration-count: infinite;

    z-index: 0;
}
.time-left.danger {
  color: red;
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.progress-bar {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  bottom: 0px;
  position: absolute;
  z-index: 10;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #00ffcc, #00c853);
  transition: width 0.3s ease;
}
@keyframes floatUp {
  0% { opacity: 0; transform: translateY(0); }
  100% { opacity: 1; transform: translateY(-50px); }
}
.props1{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 300px;

    z-index: 0;
}
.props2{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 300px;

    z-index: 0;
}
.props3{
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 300px;

    z-index: 0;
}
.props4{
    position: fixed;
    bottom: 0%;
    right: -1%;
    width: 300px;

    z-index: 0;
}
.fontgate{
    color: rgb(0, 0, 0);
      font-size: 2.5rem;
  opacity: 0.8;
  
}

.props01{
    position: absolute;
    bottom: 18%;
    right: 30%;
    width: 200px;
rotate: -14deg;
    z-index: 0;
}
.props02{
    position: absolute;
    bottom: 15%;
    left: 22%;
    width: 200px;
    z-index: 0;
}
.butstarts{
    width: 200px;
      animation: blink 1.5s infinite;
              filter: drop-shadow(1 1 5em #09ff00aa);

  transition: 0.3s;
    
}
.butstarts:hover {
 animation-name: dance3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(1.1);
    cursor: pointer;
    


}


.justblack{
        color: rgb(0, 0, 0);

}
.fontgate2{
    color: rgb(0, 0, 0);

 font-size: 1.5rem;
    background-color: rgb(216, 216, 216);
    margin-left: 30%;
        margin-right: 30%;
           border: 3px solid rgb(77, 77, 77);
          border-radius: 10px;
    height: fit-content;
}
.main-title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
      border: 5px solid rgb(149, 87, 155);
        border-radius: 10px;
           margin-left: 20%;
        margin-right: 20%;
            background-color: rgb(223, 152, 0);

}
.cornercred{
    width: fit-content;
    height: fit-content;
    bottom: 2%;
    left: 2%;
    font-size: small;
    padding: 2px;
    position: fixed;
    color: white;
   background: rgba(48, 48, 48, 0.75);
  border: 4px solid rgba(182, 182, 182, 0.4);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
.arrowt{
    position: absolute;
    bottom: 35%;
    right: 39%;
    width: 100px;
rotate: -45deg;
    z-index: 0;
}
.arrowt1{
    position: absolute;
    bottom: 35%;
    left: 39%;
    width: 100px;
rotate: -45deg;
    z-index: 0;
}
.dialogbox {
 backdrop-filter: blur(8px);
bottom: 50px;
    width: 800px ;
     height: fit-content;
 
    border-radius: 11px;
    z-index: 5;
    color: rgb(231, 231, 231);
    text-align: center;
    left: 29%;
    position: absolute;
    
     background:linear-gradient(to top, rgba(22, 26, 151, 0.75),rgba(121, 114, 231, 0.25)); ;
  border: 4px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 30px rgba(0,0,0,0.45);
       transition: transform 0.3s ease, filter 0.3s ease;

     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
.dialogboxexit {
 backdrop-filter: blur(8px);
bottom: 50px;
    width: 800px ;
     height: fit-content;

    border-radius: 11px;
    z-index: 5;
    color: rgb(231, 231, 231);
    text-align: center;
    left: 29%;
    position: fixed;
    
     background:linear-gradient(to top, rgba(22, 26, 151, 0.75),rgba(121, 114, 231, 0.25)); ;
  border: 4px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
       transition: transform 0.3s ease, filter 0.3s ease;

     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
.enddialog {
position: fixed;
bottom: -10px;
right: 10px;
opacity: 0;
    

}
.setsetting{
    position: fixed;
      top: 70px;
      right: 20px;
      z-index: 999;
           text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
       background: rgba(0, 0, 0, 0.75);
      padding: 15px;
      border-radius: 12px;
     border: 4px solid rgba(182, 182, 182, 0.4);
      box-shadow: 0 4px 12px rgba(0,0,0,0.4);
      min-width:220px;
      color: #fff;
          transition: 0.3s;
          backdrop-filter: blur(8px);
}

.credcredit{
    position: fixed;
      top: 50px;
      left: 40%;
      z-index: 999;
           text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
        background: rgba(0, 0, 0, 0.85);
      padding: 15px;
      border-radius: 12px;
      
      text-align: left;
   border: 4px solid rgba(182, 182, 182, 0.4);
      box-shadow: 0 4px 12px rgba(0,0,0,0.4);
      min-width: 350px;
      color: #fff;
          transition: 0.3s;
          backdrop-filter: blur(8px);
}
.leaveexits{
    position: fixed;
      top: 40%;
      right: 42%;
      text-align:center;
      z-index:  999;
      font-size: 20px;
      background: #4B5563;
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.4);
      min-width: 220px;
      color: #fff;
}
.dialogbox1 {
 backdrop-filter: blur(8px);
bottom: 50px;
    width: 600px ;
     height: fit-content;
 
    border-radius: 11px;
    z-index: 5;
    color: rgb(231, 231, 231);
    text-align: center;
    left: 22%;
    position: absolute;
    
     background:linear-gradient(to top, rgba(22, 26, 151, 0.75),rgba(121, 114, 231, 0.25)); ;
  border: 4px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 30px rgba(0,0,0,0.45);
       transition: transform 0.3s ease, filter 0.3s ease;

     text-shadow:
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                2px 2px 0 #000,
                -3px 0px 0 #000,
                3px 0px 0 #000,
                0px -3px 0 #000,
                0px 3px 0 #000;
}
.subtitles1{
   color: rgb(255, 255, 255);
font-size: 40px;
margin-top:0% ;
     letter-spacing: 15px;
font-weight: 300;  
}
.buttonin{
   padding: 5px 95px;
    font-size: 66px;
    bottom: 10%;
    background-color: #6759e2;
    color: rgb(255, 255, 255);
    position: fixed;
    border: 10px solid rgb(47, 6, 196);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;  box-shadow: 0 11px #999;
}
.buttonin:hover {
 animation-name: dance211;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: scale(1.1);
    

}


.buttonin:active {
  background-color:rgb(182, 166, 243);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}